<!DOCTYPE html>
<html ng-app="moveinScheduler">
<head>
    <meta charset="utf-8" />
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This is my app</title>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/loginController.js"></script>
    <style></style>
</head>
<body>
    <div ui-view>
    </div>
</body>
</html>
